@font-face{
	font-family: 'aa';
	src:url('fonts/aa/Lobster-Regular.ttf');
}
@font-face{
	font-family: 'bb';
	src:url('fonts/bb/NotoSerif-Italic.ttf');
}
@font-face{
	font-family: 'dd';
	src:url('fonts/dd/DancingScript-VariableFont_wght.ttf');
}